:root {
  --primary-color: #00ab8a;
  --card-border-radius: 12px;
  --elevation-3: 0 3px 6px rgba(0, 0, 0, 0.16);
  --font-family: 'Rubik', 'SF Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --heading-size: 18;
  --text-size: 16px;

  --background-color-1: #fcf7f8;
  --muted-foreground: oklch(.5 .01 240);

  --app-max-width: 460px;
}


.text-h6 {
  font-size: var(--heading-size) !important;
}

.v-btn {
  text-transform: none !important;
  letter-spacing: normal !important;
  font-weight: 400 !important;
}

.v-list-item-title {
  font-size: var(--text-size) !important;
}

